In [35]:
import tensorflow
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

In [36]:
#loading model,scaler and encoder
model = load_model('model.h5')

with open('ohe_gender.pkl','rb') as file:
    ohe_geo = pickle.load(file)

with open('LabelEncoder_gender.pkl','rb') as file:
    label_encoder = pickle.load(file)

with open('Scaler.pkl','rb') as file:
    Scaler = pickle.load(file)

In [37]:
#Example input data
input_data = {
    "CreditScore":600,
    "Geography":"France",
    "Gender":"Male",
    "Age":40,
    "Tenure":3,
    "Balance":600000,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 50000
}

In [38]:
# converting geographical data to numerical
geo_data = ohe_geo.transform([[input_data['Geography']]]).toarray()
geo_data_df = pd.DataFrame(geo_data,columns=ohe_geo.get_feature_names_out(['Geography']))
geo_data_df

c:\ML\DeepLearning-ANN\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [39]:
df = pd.DataFrame([input_data])
df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [40]:
df.drop('Geography',axis=1,inplace=True)
df

   CreditScore Gender  Age  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600   Male   40  ...          1               1            50000

[1 rows x 9 columns]

In [41]:
df['Gender'] = label_encoder.transform(df['Gender'])
df

   CreditScore  Gender  Age  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600       1   40  ...          1               1            50000

[1 rows x 9 columns]

In [42]:
df = pd.concat([df,geo_data_df],axis=1)
df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [43]:
#SCaling the data
input_scaled = Scaler.transform(df)
input_scaled

array([[-0.54204762,  0.91055421,  0.10473081, -0.68894811,  8.37548873,
         0.81966266,  0.64598061,  0.97071435, -0.88153859,  0.99828718,
        -0.57559072, -0.57779016]])

In [44]:
prediction = model.predict(input_scaled)
print(prediction)

1/1 [==============================] - 0s 61ms/step
[[0.12500453]]